# Strings    (string is immutable)

In [1]:
name = "mahesh"
type(name)

str

In [2]:
bin(7) # binary converstion function

'0b111'

In [3]:
s = str()
s,type(s)

('', str)

In [4]:
len(name)

6

In [5]:
name[len(name)-1] # len()is used to find length of string

'h'

In [6]:
name[-1] # reversing index

'h'

In [7]:
name[-7] # index error

IndexError: string index out of range

### string slising

In [ ]:
name[start:end] # syntax for slicing operator

In [8]:
name[0:3]

'mah'

In [9]:
name[3:6]

'esh'

In [10]:
name[3:]

'esh'

In [11]:
name[:4]

'mahe'

In [13]:
name[:]

'mahesh'

In [14]:
name[0:6:2] # here 2 is step increment value

'mhs'

In [18]:
name[2::-1]

'ham'

In [20]:
name[-3:] # to print last 3 values of a string

'esh'

In [21]:
name[-3:][::-1] # to reverse the string of particular length

'hse'

In [28]:
name[0]="a"

TypeError: 'str' object does not support item assignment

In [23]:
a

NameError: name 'a' is not defined

In [24]:
del name

In [26]:
name = "mahesh"
name

'mahesh'

In [29]:
len(name)

6

In [30]:
min(name)

'a'

In [31]:
max(name)

's'

In [32]:
a

NameError: name 'a' is not defined

In [33]:
ord('a')   ### to return the ASCII value

97

In [35]:
chr(97)  ### to return the character corresponds to the ASCII vlue

'a'

In [45]:
# to print the characters from [a-z]
ch = 97
while ch<(97+26):
    print(chr(ch), end =" ")
    ch+=1

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [47]:
for i in range(97,97+26):
    print(chr(i))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

## string methods

In [49]:
# capitalize
name.capitalize()

'Mahesh'

In [50]:
# upper
name.upper()

'MAHESH'

In [52]:
string = name.upper()
print(string)
print(name)

MAHESH
mahesh

In [53]:
# title
s ="sai kumar"
s.title()     # to convert the 1st letter of the word to upper

'Sai Kumar'

In [54]:
# isupper
s.isupper() # to check the every letter in string is in upper case or not

False

In [56]:
# islower
s.islower()  # to check the every letter in string is in lower case or not

True

In [58]:
# istitle
s.istitle()

False

In [57]:
s.title().istitle()

True

In [59]:
# isdidgit
sid ="123"
sid.isdigit()

True

In [60]:
"1a".isdigit() # we can also call this fun with value

False

In [61]:
# isalpha
"abc".isalpha()

True

In [74]:
rollno =input()
sum=0
for i in rollno:
    if rollno[i].isdigit():
        sum+=int(rollno[i])
print(sum)

12345

TypeError: string indices must be integers

In [88]:
# split
s="sai kumar"
words = s.split()
words

['sai', 'kumar']

In [78]:
# join
"*".join(s)

's*a*i* *k*u*m*a*r'

In [96]:
m = "a_p_s_s_d_c"
m.split("")

['a_p_s_s_d_c']

In [98]:
m.replace("p","m")

'a_m_s_s_d_c'

In [83]:
m.index('p')

2

In [84]:
m.index('z')

ValueError: substring not found

In [85]:
m.find('p')

2

In [86]:
m.find('z')

-1

In [103]:
name = 'ramu'
v = 'good'
s = "haha"
'{} is a {} boy {}'.format(name,v,s)

'ramu is a good boy haha'

In [104]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [105]:
s.startswith("s")

False

In [106]:
s.endswith("r")

False

In [107]:
m

'a_p_s_s_d_c'

In [110]:
m.rfind("_")

9

In [113]:
m.rindex("-")

ValueError: substring not found

In [116]:
s= "saikumar"
s,len(s)

('saikumar', 8)

In [117]:
s.center(20,"_")

'______saikumar______'

In [119]:
s.ljust(20,"_")

'saikumar____________'

In [120]:
s.rjust(20,"_")

'____________saikumar'

In [121]:
"        hai hello     ".lstrip()

'hai hello     '

In [122]:
'         hai hello    '.rstrip()

'         hai hello'

In [123]:
"      hai hello        ".strip()

'hai hello'

In [127]:
sf =input()
wt=0
lsf=sf.lower()
for i in lsf:
    wt+=(ord(i)-96)
print(wt)

ABA
4

In [128]:
ms ="""this is
mutiple line
string"""
ms

'this is\nmutiple line\nstring'

In [129]:
print(ms)

this is
mutiple line
string

In [130]:
print(1,2)

1 2

In [132]:
print(1,2,sep=";")

1;2

In [133]:
print(1,2,sep=":",end=";")

1:2;

In [134]:
print(1,sep=":",end=";")

1;

# FUNCTIONS

In [ ]:
# syntax of function
def func_name(argments):
    statements
    body of the function

In [137]:
def add(a,b):
    print(a+b)
add(2,3)

5

In [138]:
def add(a,b):
    return a+b
add(2,3)

5

In [140]:
def addition(a,b):
    return a+b
print("addition of 2 numbers is:",addition(4,5))

addition of 2 numbers is: 9

### Required arguments

In [141]:
add(1)

TypeError: add() missing 1 required positional argument: 'b'

### keyword arguements

In [144]:
def print_vals(a,b):
    print('a=', a,'b=', b)
print_vals('a','b')

a= a b= b

In [147]:
print_vals(b='b',a='a')

a= a b= b

### default arguments

In [150]:
def student_details(name,branch='cse'):
    print(name,branch)
student_details("saikumar")

saikumar cse

In [149]:
student_details("saikumar","ece")

saikumar ece

### variable length arguments

In [156]:
del sum

In [157]:
def add(a,b,*values):
    return a+b+sum(values)
add(2,3,4)

9

In [161]:
def isprime(n):
    c=0
    for i in range(2,n):
        if n%i==0:
            print("not prime")
            break
    else:
        print("prime")
isprime(2)

prime