# List

* list is nothing but collection of different types of data like array in c language
* list represented by [] braces
* list is a mutable data type (we can change the values)

In [1]:
l=[]
type(l)

list

In [2]:
l = [1,2,"hello",3.4,True,[1,2,3]]
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

### indexing in list

In [3]:
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

In [4]:
l[0]

1

In [5]:
l[-1]

[1, 2, 3]

In [6]:
l[-2]

True

In [7]:
l[-1][2]

3

### list slicing

In [11]:
l[2:4]

['hello', 3.4]

In [12]:
l[:-1]

[1, 2, 'hello', 3.4, True]

In [13]:
l[::-1]

[[1, 2, 3], True, 3.4, 'hello', 2, 1]

In [14]:
l[-1][::-1]

[3, 2, 1]

In [16]:
l[::-1]

[[1, 2, 3], True, 3.4, 'hello', 2, 1]

In [17]:
l[::2]

[1, 'hello', True]

In [19]:
l[0]=10
l

[10, 2, 'hello', 3.4, True, [1, 2, 3]]

In [20]:
del l[0]

In [21]:
l

[2, 'hello', 3.4, True, [1, 2, 3]]

In [22]:
len(l)

5

In [26]:
marks = [6,3,7,4,2]
min(marks)

2

In [27]:
max(marks)

7

In [28]:
sum(marks)

22

In [29]:
sorted(marks)   # to sort the elements of the list

[2, 3, 4, 6, 7]

In [30]:
sorted(marks,reverse = True)

[7, 6, 4, 3, 2]

In [33]:
sum(marks)/len(marks)   # to calculate the average

4.4

In [34]:
marks+[10,20]

[6, 3, 7, 4, 2, 10, 20]

In [35]:
marks

[6, 3, 7, 4, 2]

In [36]:
marks *2

[6, 3, 7, 4, 2, 6, 3, 7, 4, 2]

In [37]:
marks * 3

[6, 3, 7, 4, 2, 6, 3, 7, 4, 2, 6, 3, 7, 4, 2]

### List methods

In [38]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [40]:
marks.append(10)
marks

[6, 3, 7, 4, 2, 10, 10]

In [51]:
marks.extend([2,10,20])

In [52]:
marks

[6, 3, 7, 4, 2, 10, 20]

In [53]:
marks.pop(0)

6

In [54]:
marks

[3, 7, 4, 2, 10, 20]

In [55]:
marks.insert(0,10)

In [56]:
marks

[10, 3, 7, 4, 2, 10, 20]

In [57]:
marks.index(7)

2

In [58]:
marks.index('x')

ValueError: 'x' is not in list

In [59]:
marks.reverse()
marks

[20, 10, 2, 4, 7, 3, 10]

In [60]:
marks.sort()
marks

[2, 3, 4, 7, 10, 10, 20]

In [61]:
marks.count(10)

2

In [62]:
marks.count(-1)

0

In [63]:
marks2 = marks.copy()

In [64]:
marks2

[2, 3, 4, 7, 10, 10, 20]

In [65]:
marks2.clear()

In [66]:
marks2,marks

([], [2, 3, 4, 7, 10, 10, 20])

In [68]:
for item in marks:
    print(item,end=",")

2,3,4,7,10,10,20,

In [69]:
index=0
while index<len(marks):
    print(marks[index])
    index+=1

2
3
4
7
10
10
20

###### program to calculate the sum of marks

In [71]:
index=0
s=0
while index<len(marks):
    s+=marks[index]
    index+=1
print(s)

56

In [82]:
names = "mahesh ravi raghu krish balu"
l = names.split()
for item in l:
    if item.endswith('u'):
        print(item,end=",")

raghu,balu,

In [87]:
names = "mahesh ravi raghu krish balu"
l = names.split()
hi_l=""
for i in l:
    if len(i)>len(hi_l):
        hi_l=i
print(hi_l)

mahesh

In [89]:
names ="mahesh ravi raghu krish balu"
list_names = names.split()
for item in list_names:
    if item.endswith("a") or item.endswith("e") or item.endswith("i") or item.endswith("o") or item.endswith("n"):
        print(item)

ravi

In [ ]:
#Task-4: Palindrome string: need to find out and print whether this string is a palindrome or not
# if yes print("YES")
# else print("NO")

In [92]:
string = input("enter a string:")
string2 = string[::-1]
if string==string2:
    print("YES")
else:
    print("NO")

enter a string:SAI
NO

In [ ]:
#Task5: Toggle String: you have been given string s
#contructing of uppercase and lower case alphabet letters
#you need to change the case the of each alphabet in the string

In [108]:
s1 = input("Enter a string:")
s2=''
for i in s1:
    if i.isupper():
        s2=s2+i.lower()
    else:
        s2=s2+i.upper()
print(s2)

Enter a string:SAIKUMAR
SAIKUMAR => saikumar

# Tuples

* tuple is a immutable data type in python
* It is also like list but it cant be changed like list 
* it is represented by paranthesis ()

In [112]:
t = tuple()
t

()

In [113]:
ages=(20,21,22)
ages,type(ages)

((20, 21, 22), tuple)

### Indexing in tuples:-

In [114]:
ages[-1]

22

In [115]:
ages[0:2]

(20, 21)

In [116]:
ages[::-1]

(22, 21, 20)

In [117]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [118]:
ages.index(20)

0

In [119]:
ages.count(20)

1

In [124]:
# we can give values in tuples to variables
# This is called as unpacking and calling
x,y,z=ages
print(x,y,z)

20 21 22

In [125]:
# a tuple can be created without using paranthesis by the way:
a=1,2,3
a,type(a)

((1, 2, 3), tuple)

In [127]:
for item in ages:
    print(item)

20
21
22

# Sets

* It has no particular order
* Indexing and Slicing doesnot work in set
* len,max,min,sum functions work in set
* Used to remove duplicate elements in the list
* It is mutable type elements can be inserted ,deleted,etc

In [128]:
s={1,2,3}
s,type(s)

({1, 2, 3}, set)

In [129]:
len(s)

3

In [130]:
min(s)

1

In [131]:
max(s)

3

In [133]:
sum(s)

6

In [134]:
l=[1,2,4,1,3,5,5]
set(l),l

({1, 2, 3, 4, 5}, [1, 2, 4, 1, 3, 5, 5])

In [135]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [136]:
s.pop()

1

In [137]:
a={1,2,3,4}
b={5,3,1,2,4}
a.intersection(b)

{1, 2, 3, 4}

In [139]:
b.difference(a)

{5}

In [140]:
a,b

({1, 2, 3, 4}, {1, 2, 3, 4, 5})

In [142]:
a.difference_update(b)
a,b

(set(), {1, 2, 3, 4, 5})

In [143]:
c={1}
c

{1}

In [144]:
c.issubset(a),a,c

(False, set(), {1})

In [ ]:
names = "mahesh ravi balu krish akash raghu"
# print the names which has duplicate characters
output: mahesh akash

In [145]:
a.isdisjoint(c)

True

In [101]:
a

{1, 2, 3, 4, 7}

In [102]:
a.issubset(b)

False