# List Comprehension
 In python, list comprehension is an easy way to create lists. List comprehensions are more efficient compared to for loop.

In [40]:
list1 = [1,2,3,4]
result = []
for number in list1:
    result.append(number)
print(result)

[1, 2, 3, 4]

In [41]:
result = [n for n in range(6,11)]
print(result)

[6, 7, 8, 9, 10]

In [42]:
# to print only even numbers with in range
[i for i in range(1,11) if i%2==0]

[2, 4, 6, 8, 10]

Example Given a List contains a paragraph and each sentence is separated with commas.
Write a program to print list that contains individual words. With For Loop

In [43]:
paragraph = ["There was a fox.", "it was seen near that farm sometime back"]
list1 = []
for sentence in paragraph:
    for word in sentence.split():
        list1.append(word)
print(list1)

['There', 'was', 'a', 'fox.', 'it', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back']

In [44]:
paragraph = ["there was a fox", "it was seen near that farm sometime back"]
list1 = [word for sentence in paragraph for word in sentence.split()]
print(list1)

['there', 'was', 'a', 'fox', 'it', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back']

Program to print the cubes of the numbers in a given list using list comprehension.

In [45]:
def cube(n):
    return n ** 3
li1 = [1,2,3,4,5,6]
numbers = [i for i in li1]
[cube(i) for i in numbers]

[1, 8, 27, 64, 125, 216]

In [46]:
# sum the digits of given string
rollno = "13A85A0505"
sum([int(c) for c in rollno if c.isdigit()])

27

In [47]:
# print the names which starts with a
names=['harish','akash','mahesh','krishna']
[ name for name in names if name.startswith('a')]

['akash']

In [48]:
# print the names which endswith with m
names=['harish','akash','mahesh','krishna']
[ name for name in names if name.endswith('h')]

['harish', 'akash', 'mahesh']

In [49]:
# print the names which length has 5
names=['harish','akash','mahesh','krishna']
[ name for name in names if len(name)==5]

['akash']

In [50]:
# print the names which length highertha 5
names=['harish','akash','mahesh','krishna']
[ name for name in names if len(name)>5]

['harish', 'mahesh', 'krishna']

In [51]:
# print the names which length has not 6
names=['harish','akash','mahesh','krishna']
[ name for name in names if len(name)!=6]

['akash', 'krishna']

In [52]:
# print the first 1000 values sum
sum([i for i in range(1,1001)])

500500

In [53]:
s = "india is my country"
[w for w in s.split() if len(w)==2]

['is', 'my']

In [54]:
s = "india is my country"
''.join([w.upper() for w in s.split() if len(w)==2])

'ISMY'

# Python Dictionary Comprehension
Dictionary comprehension is a method for transforming one dictionary into another dictionary.
During this transformation, items within the original dictionary can be conditionally included
in the new dictionary and each item can be transformed as needed.

In [56]:
a = {'apple': 'fruit', 'beetroot': 'vegetable', 'cake': 'dessert'}
a['doughnut'] = 'snack'
print(a['apple'])

fruit

In [57]:
numbers =[1,2,3,4,5]
squares ={}
for i in numbers:
    squares[i]=i*i
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [9]:
{i:i*i for i in numbers}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [10]:
s="apple ball cat dog elephant frog"
{w[0]:w for w in s.split()}

{'a': 'apple',
 'b': 'ball',
 'c': 'cat',
 'd': 'dog',
 'e': 'elephant',
 'f': 'frog'}

In [14]:
 s="apple ball cat dog elephant frog"
{w[0].upper():w.title() for w in s.split()}  # we can use capitalize() instead of title()

{'A': 'Apple',
 'B': 'Ball',
 'C': 'Cat',
 'D': 'Dog',
 'E': 'Elephant',
 'F': 'Frog'}

In [21]:
s="apple ball cat dog elephant frog"
data={w[0]:w for w in s.split()}
result_d={k:v for k,v in list(data.items()) [::2]}
result_d

{'a': 'apple', 'c': 'cat', 'e': 'elephant'}

In [27]:
# zip()
numbers=[1,2,3,4,5,6]
t=('one','two','three','four','five','six')
{k:v for k,v in zip(numbers,t)}

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [36]:
contacts='''mahesh 9837281924
ravivi 987654321
krishna 9876123456'''
contacts_dict={}
for line in contacts.split("\n"):
    contact_name,number=line.split()
    contacts_dict[contact_name]=number
contacts_dict

{'mahesh': '9837281924', 'ravivi': '987654321', 'krishna': '9876123456'}

In [58]:
for lines in contacts_text.split("\n") for line in lines.split()

SyntaxError: invalid syntax (<ipython-input-58-56cc345da812>, line 1)

# tuple comprehension

In [59]:
tuple(i for i in range(5))

(0, 1, 2, 3, 4)

In [60]:
sum(tuple(i for i in range(5)))

10

In [61]:
tuple(i for i in range(5)[::2])

(0, 2, 4)