In [1]:
import pandas as pd
import numpy as np

In [2]:
animals=['Tiger','Lion','Cat']
r = pd.Series(animals) #return series with index as integer and  dtype as obj
r,r.dtype

(0    Tiger
 1     Lion
 2      Cat
 dtype: object, dtype('O'))

In [3]:
numbers=[1,2,3]
pd.Series(numbers).dtype # return series with dtype as int

dtype('int64')

In [4]:
numbers=[1,2,3]
pd.Series(numbers,dtype=float) # return series with dtype as flot

0    1.0
1    2.0
2    3.0
dtype: float64

In [5]:
animals=['Tiger','Lion','Cat',None] # list contains None
pd.Series(animals) #returns series with dtype obj and None--> None

0    Tiger
1     Lion
2      Cat
3     None
dtype: object

In [6]:
numbers=[1,2,3,None] #list contains None
pd.Series(numbers) #return series with dtype as float and None in pandas as Nan-->Not a Number

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [7]:
np.nan==None #numpy nan is not equal to python None both are different

False

In [8]:
np.nan==np.nan # this is also not True

False

In [9]:
# if you want to check nan we need special function np.isnan()
np.isnan(np.nan)

True

In [10]:
kidsPlay={'a':'apple','b':'ball','c':'Cat'} 
s=pd.Series(kidsPlay) #index values can be changed as keys from dictionary
s

a    apple
b     ball
c      Cat
dtype: object

In [11]:
s.index # return index of series

Index(['a', 'b', 'c'], dtype='object')

In [12]:
s=pd.Series(['Apple','Ball','Cat'],index=['A','B','C']) # set index  explicitly
s

A    Apple
B     Ball
C      Cat
dtype: object

In [13]:
# QUERY from series
# Pandas can be query either by index position or the index label
# to query by numerical location use  iloc attribute   or query by index label use loc attribute

In [14]:
sports={'Archery':'Bhutan','Golf':'Scotland','Sumo':'Japan','Taekwondo':'South Korea'}
s=pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [15]:
s.iloc[3]

'South Korea'

In [16]:
s.loc['Golf']

'Scotland'

In [17]:
s[0] # indexing operator  return value in index 0 zero

'Bhutan'

In [18]:
s['Archery'] # return value correspond to  given label

'Bhutan'

In [19]:
example={100:'A',200:'B'}
exp=pd.Series(example)
exp

100    A
200    B
dtype: object

In [20]:
#exp[0] 
#exp[0] gives error due to it apply loc attrib

In [21]:
exp.iloc[0]

'A'

In [22]:
# it's prefer to use loc and  iloc attributes instead indexing directly

In [23]:
s=pd.Series([100.00,120.00,101.00,3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [24]:
# sum the series using iteration but  its slow
total=0
for item in s:
    total+=item
total

324.0

In [25]:
# numpy has a sum function
import numpy as np

In [26]:
total=np.sum(s)
total

324.0

In [27]:
array=np.random.randint(0,1000,10000) # return 10,000 random numbers  between 0 to 1000
s=pd.Series(array)
s.head() # return first 5 elements

0    785
1    101
2    138
3    648
4    460
dtype: int32

In [28]:
# in jupyter nobook if we type % and press TAB we get list of magic function
# now we are using cell magic functions these are starts with two percentage signs

In [29]:
%%timeit -n 100
summary=0
for item in s:
    summary+=item

1.46 ms ± 255 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [30]:
%%timeit -n 100
summary=np.sum(s)

142 µs ± 22.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [31]:
#when we observe that by using np.sum its fast
# Related features in pandas and numpy is called broadcasting
# with broadcasting ,we can  apply an operation to every value in the series ,changing the series

In [32]:
print(s.head())
s+=2
s.head()

0    785
1    101
2    138
3    648
4    460
dtype: int32

0    787
1    103
2    140
3    650
4    462
dtype: int32

In [33]:
#procedural way iterate through all the items in series and increase values directly
for label,value in s.iteritems():
    #s.at[label, 'ColName'] = 3
    s.iloc[label]=value+2

In [34]:
%%timeit -n 10
s=pd.Series(np.random.randint(0,1000,1000))
for label,value in s.iteritems():
    s.iloc[label]=value+2

150 ms ± 5.19 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
s=pd.Series([1,2,3]) # add new field 
s.loc['Animal']='Bears'
s

In [ ]:
# example for index not unique in series
original_sports=pd.Series({'Archery':'Bhutan','Golf':'Scotand','Sumo':'Japan','Taekwondo':'South Korea'})
cricket_loving_countries=pd.Series(['Australia','Barbados','Pakistan','England'],index=['Cricket','Cricket','Cricket','Cricket'])
all_countries=original_sports.append(cricket_loving_countries) # pandas append does not change original series instead it return new series
print('all_countries ',all_countries)
print('\n\n\n')
print('original_sports ',original_sports)
all_countries.loc['Cricket'] # return series of cricket

# Data Frame

###### DataFrame is conceptually a 2-dimentional series obj , there is an index and multiple columns of content with each colunm have a label

In [36]:
# Data frame  it self as simply a two axes labeled array  (axes=0 (row wise) axes=1 (column wise))
'''we can create data frame in many different ways 
    some of one we can use Series , where each series represent  a row of data 
    '''
''' we can use group of dictionaries where each dict represents a row of data '''

' we can use group of dictionaries where each dict represents a row of data '

In [37]:
import pandas as pd
purchase_1=pd.Series({'Name':'John','Item Purchased':'Rice','Cost':22.50})
purchase_2=pd.Series({'Name':'Gopi','Item Purchased':'Food','Cost':2.50})
purchase_3=pd.Series({'Name':'Swati','Item Purchased':'Bird seed','Cost':5.00})
purchase_1

Name              John
Item Purchased    Rice
Cost              22.5
dtype: object

In [38]:
df=pd.DataFrame([purchase_1,purchase_2,purchase_3],index=['Store 1','Store 1','Store 2'])
df

          Name Item Purchased  Cost
Store 1   John           Rice  22.5
Store 1   Gopi           Food   2.5
Store 2  Swati      Bird seed   5.0

In [39]:
# query
print(df.loc['Store 1']) # select data associated with store 1 and if it has multiple row return as df else reeturn as Series
type(df.loc['Store 1'])

         Name Item Purchased  Cost
Store 1  John           Rice  22.5
Store 1  Gopi           Food   2.5

pandas.core.frame.DataFrame

In [40]:
print(df.loc['Store 2'])
type(df.loc['Store 2'])

Name                  Swati
Item Purchased    Bird seed
Cost                      5
Name: Store 2, dtype: object

pandas.core.series.Series

In [41]:
# to select Store 1 cost
df.loc['Store 1','Cost']  # df.loc[row indecx ,list of columns]

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [42]:
df.loc['Store 2',['Name','Cost']]

Name    Swati
Cost        5
Name: Store 2, dtype: object

In [43]:
df.T #  Transpose to swaps all of columns and rows

               Store 1 Store 1    Store 2
Name              John    Gopi      Swati
Item Purchased    Rice    Food  Bird seed
Cost              22.5     2.5          5

In [44]:
df.T.loc['Cost']

Store 1    22.5
Store 1     2.5
Store 2       5
Name: Cost, dtype: object

In [45]:
# slicing 
df.loc[:,['Name','Cost']] # selecting all rows with Name and cost columns

          Name  Cost
Store 1   John  22.5
Store 1   Gopi   2.5
Store 2  Swati   5.0

In [47]:
df.drop('Store 1') # take single paramenter which is index to drop that row and return remaining

          Name Item Purchased  Cost
Store 2  Swati      Bird seed   5.0

In [48]:
df # original df not changed

          Name Item Purchased  Cost
Store 1   John           Rice  22.5
Store 1   Gopi           Food   2.5
Store 2  Swati      Bird seed   5.0

In [49]:
copy_df=df.copy() # to make new copy of df
copy_df

          Name Item Purchased  Cost
Store 1   John           Rice  22.5
Store 1   Gopi           Food   2.5
Store 2  Swati      Bird seed   5.0

In [50]:
copy_df=copy_df.drop('Store 1')
copy_df

          Name Item Purchased  Cost
Store 2  Swati      Bird seed   5.0

In [51]:
del copy_df['Name'] # remove Name column using del keyword
copy_df

        Item Purchased  Cost
Store 2      Bird seed   5.0

In [52]:
# adding new column
df['Location']='AP'
df

          Name Item Purchased  Cost Location
Store 1   John           Rice  22.5       AP
Store 1   Gopi           Food   2.5       AP
Store 2  Swati      Bird seed   5.0       AP

In [53]:
# olympics csv to df

In [54]:
df=pd.read_csv('olympics.csv') # read as df from csv
df.head()

FileNotFoundError: [Errno 2] File b'olympics.csv' does not exist: b'olympics.csv'

In [ ]:
df=pd.read_csv('olympics.csv',index_col=0,skiprows=1) # index_col=0 means 0(zero) column is set as index for df and skiprows=1 means it remove the first row 
df.head(6)

In [ ]:
print(df.columns) # return column names

In [ ]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]},inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]},inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronz'+col[4:]},inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]},inplace=True)

''' key Notes --->
        df.rename(columns={oldname:newname},inplace=True)
        df.rename -->to rename columns 
        columns= which columns to rename and thier new names as passing dictionary {old name:new name}
        inplace ---> True means it can apply changes to df
                    if false it can return copy of df after changes
        
'''
df.head()

In [ ]:
# back up df for future use
df_back=df.copy()

In [ ]:
df['Gold']>0 # applying boolean mask and resultant series is indexed where the values of each cell is either true or false depending on condition

In [ ]:
only_gold=df.where(df['Gold']>0) # where(boolean mask) return orignal values from df based on boolean mask
only_gold

In [ ]:
only_gold['Gold'].count() # count rows excluding Nan

In [ ]:
#  querying which countries achieved gold in either summer or winter
(df['Gold']>0) | (df['Gold.1']>0)

In [ ]:
s=df[ (df['Gold']>0) | (df['Gold.1']>0)    ]
s['Gold'].count()

In [ ]:
# querying any countries who have only won a gold in  winter  and never in summer ? 
df[  (df['Gold.1']>0 ) & (df['Gold']==0)  ]

# Data Visualisation
##### Data Visualization is the presentation of data in graphical format. It helps us to understand data by presenting a huge amount of data in a simple and easy-to-understand format and helps communicate information clearly and effectively.

* Basic 2D plotting functions
* Plot a Linear Graph

In [ ]:
import matplotlib.pyplot as plt
plt.title("Basic Linear Graph")
plt.plot([1,2,3],[1,2,3])

In [ ]:
distance = list(range(2,11,2))
time = list(range(1,6))
plt.title("Distance vs Time")
plt.xlabel("Time")
plt.ylabel("Distance")
plt.plot(time,distance,'yo')
plt.grid()
plt.show()
distance,time

In [ ]:
t = list(range(1,11))
a = list(range(1,len(t)+1))
v = [a[i] * i for i in range(len(t))]
plt.plot(t,v)
plt.grid()
plt.show()

In [ ]:
df[['Gold']][:10].plot(kind='bar')